/System rezerwacji/nbproject/private/
/System rezerwacji/build/
/Zadanie3/nbproject/private/
/Constructive Solid Geometry/nbproject/private/
/Constructive Solid Geometry/build/
/Sliders/nbproject/private/
/Sliders/build/